<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="user_type_box">User type</label>
      
    <input type="text" id="user_type_box" name="query_user_type">
  </div>
         
  <div>
    <label for="user_profile_picture_box">User profile picture</label>
      
    <input type="text" id="user_profile_picture_box" name="query_user_profile_picture">
  </div>
         
  <div>
    <label for="user_first_name_box">User first name</label>
      
    <input type="text" id="user_first_name_box" name="query_user_first_name">
  </div>
         
  <div>
    <label for="user_last_name_box">User last name</label>
      
    <input type="text" id="user_last_name_box" name="query_user_last_name">
  </div>
         
  <div>
    <label for="user_street_address_box">User street address</label>
      
    <input type="text" id="user_street_address_box" name="query_user_street_address">
  </div>
         
  <div>
    <label for="user_city_box">User city</label>
      
    <input type="text" id="user_city_box" name="query_user_city">
  </div>
         
  <div>
    <label for="user_state_box">User state</label>
      
    <input type="text" id="user_state_box" name="query_user_state">
  </div>
         
  <div>
    <label for="user_country_box">User country</label>
      
    <input type="text" id="user_country_box" name="query_user_country">
  </div>
         
  <div>
    <label for="user_postal_code_box">User postal code</label>
      
    <input type="text" id="user_postal_code_box" name="query_user_postal_code">
  </div>
         
  <div>
    <label for="user_race_box">User race</label>
      
    <input type="text" id="user_race_box" name="query_user_race">
  </div>
         
  <div>
    <label for="user_comments_box">User comments</label>
      
    <input type="text" id="user_comments_box" name="query_user_comments">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
