<h1>Create a Mizaru account</h1>

<hr>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="user_type_box">Type a type of account (Clinet or Provider)</label>
      
    <input type="text" id="user_type_box" name="query_user_type">
  </div>
         
  <div>
    <label for="user_first_name_box">First name</label>
      
    <input type="text" id="user_first_name_box" name="query_user_first_name">
  </div>
         
  <div>
    <label for="user_last_name_box">Last name</label>
      
    <input type="text" id="user_last_name_box" name="query_user_last_name">
  </div>
         
  <div>
    <label for="user_street_address_box">Street address</label>
      
    <input type="text" id="user_street_address_box" name="query_user_street_address">
  </div>
         
  <div>
    <label for="user_city_box">City</label>
      
    <input type="text" id="user_city_box" name="query_user_city">
  </div>
         
  <div>
    <label for="user_state_box">State</label>
      
    <input type="text" id="user_state_box" name="query_user_state">
  </div>
         
  <div>
    <label for="user_country_box">Country</label>
      
    <input type="text" id="user_country_box" name="query_user_country">
  </div>
         
  <div>
    <label for="user_postal_code_box">Postal code</label>
      
    <input type="text" id="user_postal_code_box" name="query_user_postal_code">
  </div>
         
  <div>
    <label for="user_comments_box">My comments</label>
      
    <input type="text" id="user_comments_box" name="query_user_comments">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Confirm password</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button class="btn-primary">
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
